body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    360deg,
    #6f60a5 0%,
    #5a5ca2 35%,
    #4a5a9e 60%,
    #3f4a7c 85%,
    #2e3455 100%
  );

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-attachment: fixed;
  min-height: 100vh;
}
