body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    360deg,
    #d1c3fc 0%,
    #a5b4fc 50%,
    #dbeafe 100%
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-attachment: fixed;
  min-height: 100vh;
}
